name: Docker Setup
description: Common docker setup steps
inputs:
  ecr_account:
    description: ECR AWS Account Number
  ecr_region:
    description: ECR Region
  ghcr_registry:
    description: Docker Registry
    default: ghcr.io
  ghcr_token:
    description: GitHub Container Registry Token
    required: true
outputs:
  ecr_registry:
    description: ECR Registry Hostname
    value: ${{ steps.login-ecr.outputs.registry }}

runs:
  using: composite
  steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Configure AWS credentials
      if: ${{ inputs.ecr_account }}
      uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
      with:
        aws-region: ${{ inputs.ecr_region }}
        role-to-assume: arn:aws:iam::${{ inputs.ecr_account }}:role/GitHubActionsECR
        role-session-name: ${{ github.event.repository.name }}-${{ github.run_number }}@${{ github.run_attempt }}

    - name: Login to Amazon ECR Private
      if: ${{ inputs.ecr_account }}
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

    - name: Log in to GHCR
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ inputs.ghcr_token }}
