name: Docker Metadata
description: "Extracts docker metadata"
inputs:
  images:
    description: "List of Docker images to use as base name for tags"
    required: true
outputs:
  version:
    description: "Generated Docker image version"
    value: ${{ steps.meta.outputs.version }}
  tags:
    description: "Generated Docker tags"
    value: ${{ steps.meta.outputs.tags }}
  labels:
    description: "Generated Docker labels"
    value: ${{ steps.meta.outputs.labels }}
  annotations:
    description: "Generated Docker annotations"
    value: ${{ steps.meta.outputs.annotations }}
  json:
    description: "JSON output of tags and labels"
    value: ${{ steps.meta.outputs.json }}
  description:
    description: Image description aka commit message
    value: ${{ steps.commit-message.outputs.message }}
runs:
  using: "composite"
  steps:
    - name: Fetch commit message
      shell: bash
      id: commit-message
      run: echo message="$(git log -1 HEAD --pretty=format:%s | tr -cd '[:alnum:]._-')" >> $GITHUB_OUTPUT
    - name: Extract metadata for the Docker image
      id: meta
      uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
      env:
        DOCKER_METADATA_ANNOTATIONS_LEVELS: "manifest,index"
      with:
        images: |
          ${{ inputs.images }}
        tags: |
          type=raw,enable=${{ github.event_name == 'pull_request'}},priority=600,value=${{ github.head_ref }}
          type=ref,event=branch
          type=raw,value=ci-${{github.run_number}},event=branch
          type=raw,value=${{github.ref_name}}-{{date 'YYYY.M.D'}}-${{github.run_number}},event=branch
          type=raw,value=${{github.ref_name}}-{{date 'YYYY.M.D'}}-sha-{{sha}},event=branch
          type=raw,value=${{github.ref_name}}-{{sha}}
          type=raw,value=${{github.ref_name}}-${{github.run_number}}
          type=raw,value=sha-{{sha}}
          type=raw,value=latest,enable={{is_default_branch}}
        labels: |
          org.opencontainers.image.description=${{steps.commit-message.outputs.message}}
          github.sha=${{github.sha}}
          github.repository=${{github.repository}}
          github.actor=${{github.actor}}
        annotations: |
          github.sha=${{github.sha}}
          github.repository=${{github.repository}}
